$nandos-red-1: rgba(206, 9, 36, 1);
$nandos-red-2: rgba(206, 9, 36, 0.8);
$nandos-red-3: rgba(206, 9, 36, 0.6);
$nandos-red-4: rgba(206, 9, 36, 0.4);
$nandos-red-5: rgba(206, 9, 36, 0.2);

$nandos-orange-1: rgba(255, 130, 0, 1);

$nandos-green-1: rgba(76, 225, 46, 1);
$nandos-green-2: rgba(19, 225, 193, 1);
$nandos-green-3: rgba(76, 225, 46, 0.4);

$nandos-blue-1: rgba(10, 131, 244, 1);
$nandos-blue-2: rgba(10, 131, 244, 0.6);

$black: #111111;
$white: #f2f2f2;
$grey: #cccccc;
