//Dimension
$dimension-quarter: 5px;
$dimension-half: 10px;
$dimension-full: 20px;
$dimension-double: 40px;
$dimension-triple: 60px;
$dimension-quadruple: 80px;
$dimension-quintuple: 100px;
$dimension-sextuple: 120px;
$dimension-septuple: 140px;
$dimension-octuple: 160px;
$dimension-nontuple: 180px;
$dimension-dectuple: 180px;

//Spacing
$spacing-quarter: 3px;
$spacing-half: 7px;
$spacing-full: 15px;
$spacing-double: 30px;
$spacing-triple: 45px;
$spacing-quadruple: 60px;
$spacing-quintuple: 75px;

//Radius
$radius-quarter: 2px;
$radius-half: 5px;
$radius-full: 10px;
$radius-double: 20px;
